body{
    background-color: #eaece6;
    background-color:;
    height: auto;
    width: auto;
}
header{
    
    
}

.nav_1{
    width: 1302px;
    height: 120px;
    background-color: #fdfffd;
    position: fixed;
    top: -1px;
    
    
}
.top_2{
    width: 1236.89px;
    height: 60px;
    background-color: #fdfffd;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.top_ch_1{
    width: 170px;
    /* height: px; */
    /* padding: 13px 1px 13px 0px; */
    background-color: rgb(250, 246, 246);
    color: #84b840;
    font-size:22px;
    background-color:#fdfcfc;
}

.top_ch_2{
    
    height: 37px;
    width: ;
    /* padding: 0px 0px 0px 50px; */
    background-color: #fdfcfc;
    display: flex;
    color: #484848;
}
.top_ch_2>sle{
width: 150px;
background-color: #84b840;
height: 70%;
font-size: 5px;
color: #84b840;
}

.top_ch_3{
    /* width: 134.05px; */
    /* height: 32px; */
    /* padding: 15px 0px 0px 0px; */
    background-color: rgb(253, 255, 253)
}
.top_ch_4{
    /* width: 227.66px;
    height: 40px; */
    /* padding: 15px 0px 0px 0px; */
    background-color: rgb(253, 248, 248);
}
.top_ch_5{
    /* width: 38px;
    height: 34px;
    padding: 10px 1px 13px 0px; */
    background-color: rgb(253, 248, 248);
}
.top_3{
    width: 1236.89px;
    height: 60px;
    background-color: rgb(253, 255, 253);
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.top_3_ch{
    color: #080808;
    text-decoration: none;
}
.mid_4{
    background-color:#fafafa;
    height: 200px; 
    
}
.mid_ch1{
    background-color: #f9f9fb;
    padding: 40px 0px 0px 20px;
}
.mid_ch2{
    background-color: #f9f9fb;
    padding: 0px 20px 20px;
    
}
.mid_gch{
    color: #080808;
    text-decoration: none;
}
.mid_5{          
     /* img ky liya */
     background-color: #f9f9fb;
     display: flex;
     justify-content: space-between;
}

.mid_ch6{
    background-color: #626078;
    height: 580px;
    flex: 7;
    margin: 30px;
    display: flex;
    position: relative;

}
.mch6_ch1{
        position: absolute;
        top: 150px;
        left: 100px;
        z-index: 2;
}
.mch6_ch2{
    position: absolute;
        left: 230px;
        border-radius: 100%;
        background-color: #2d2d39;
        z-index: 1;
}
.mch6_ch3{
    position: absolute;
    left: 600px;
    top:150px ;
    z-index: 3;
        
}
.mch6_ch4{
    border: solid 1px red;
    background-color: #413e4f;
    position: absolute;
    left: 100px;
    top:350px ;
    width: 680px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
        
}
.mch6_ch5{
    background-color: #282834;
    border: solid 1px red;
    position: absolute;
    
    top: 400px;
    width: 100%;
    height: 175px;
    z-index: 1;
    display: flex;
        
}
.mch6_ch5_ch1{
    
    
}
.mch6_ch5_ch2{

}
.mid_ch7{
    background-color: #fafafa;
    flex: 2;
    margin: 30px;
    border: 1px solid #e0e0e1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 50px 20px;
    /* position: relative; */
    /* text-align: center; */
}
.gch_8{
    background-color: #fafafa;
}
.mid_6{
    background-color: #84b840;
    display: flex;
    margin: 10px;
    
}
.sib{
    background-color: #fff;
    flex: 3;
    padding: 20px;
}
.ch16{
    display: flex;
}
.sib2{
    background-color: #fff;
    flex: 1;
    padding: 20px;
}

.card{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    

}
.card_ch18{
    background-color: #eaece6;
    width: 300px;
    height: 250px;
    border-radius: 5%;
    

}
.card_ch18 > a {
    text-decoration: none;
    color: #080808;
}
.card_ch18:hover{
    color: #84b840;
}
.footer{
    background-color: #282828;
    color: #fff;
    padding-bottom: 60px;
    padding-top: 50px;
}
.fot_ch20{
    display: flex;
    background-color:#282828;
    justify-content: space-around;
}
.gch22{
    
    background-color:#282828;
    
}

.fgch1{
    
    color: #fbfbff; }
.az{
    text-decoration: none;
    list-style: circle;
}

.abb5{
color: #f9f9fb;
text-decoration: none;

}
.btn3{
    background-color: red;
    height: 40px;
    border-radius: 10px;
}

/* pagessssssssssssssssssssssss */

.bd{
    background-color: #626078;
    margin: 40px;
}
.p_box{
    display: flex;
    height: auto;
    /* width: 1440px; */
    
}
.box1{
    background-color: #606176;
    flex: 0.3;
    
    
    
}
.box_ch3{
    background-color: #606176;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.box_ch4{
    background-color: #55556d;
    border-radius: 100%;
    width: 18px;
    height: 18px;
}
.box_ch1{
 background-color: hsla(150, 12%, 97%, 0.897);
 display: flex;
 flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 30px;
     height: 220px;
     padding: 10px;
    
}
    .box_ch2{
        height: 60px;
        width: 60px;
        border-radius: 20px;


}
.box2{
    flex: 1.5;
    width: ;
    /* background-color: #363543; */
    /* border: solid 2px white;     */
    background-color: #363543;
    /* margin-right: 250px; */
    min-width: 1024px;

}
.box3{
    background-color: #2a8c99;
    
    
}

.box_ch5{
    font-size:25px;
    color: white;
    padding-left: 40px;
    border: solid 2px green;
    background-color: #5e5f74;

}
.box_color{
    color:#feba21;
}
.box_ch6{
  display: flex;
  justify-content: space-around;
  border: solid 2px pink;
  background-color: #363543;

}
.box_ch7{
    margin-right: 15px;
    /* background-color: #606176; */


}
.box_ch9{
    color: white;
}
.box_ch8{
    word-spacing: 30px;
    color: #606176 ;
}
.box_home{
    color: white;
}
.box_ch10{
    display: flex;
    font-size: 32px;
    position: relative;
    background-color: #363543;
}
.box_ch11{
     /* border: solid 1px black; */
     z-index: 2;
     position: absolute;
     font-size: 35px;
     margin-top: 70px;
     margin-left: 40px;
     color: white;
    }
.box_ch12{
    /* border: solid 1px green; */
    background-color: #2d2d39;
    border-radius: 100%;
    margin-top: 20px;
    z-index: 1;
    position: absolute;
    width: 320px;
    height: 300px;
    margin-left: 250px;
}
.box_ch13{
    /* border: solid 1px yellow; */
    z-index: 3;
    position: absolute;
    font-size: 22px;    
    margin-left: 490px;
    margin-top: 70px;
    color: #c0bfcd;
}
.box_ch14{
    height: 4px;
    width: 150px;
    background-color: #f1bb43;
    border-radius: 15%;
}
.box_span{
    font-size: 14px;
    color: rgb(136, 128, 128);
}
.box_span1{
    color: rgb(136, 128, 128);

}
.box_span2{
    display: block;
    color: #f1bb43;
    font-size: 11px;
}
.box_ch15{
    /* border: solid 2px brown; */

}
.box_ch16{
    margin-top: 400px ;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-between  ;
    /* border: solid 1px red; */
    height: auto;

}
.box_ch17{
    background-color: palegoldenrod;
    height: 45px;
    width: 80px;
    /* border: solid 2px gold; */

}
.box_ch18{
    
}